body {
    margin: 20px!important;
}
.header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.header a{
    color: darkmagenta;
    text-decoration: none;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
}
.header button{
    color: darkmagenta !important;
    text-decoration: none;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
    border: none;
    background: none !important;
    border-color: none !important;
}
main{
    margin-top: 60px;
}
.wrapper, .quizContainer, .reponse {
    margin: 0 auto;
    width: 700px;
    text-align: center;
}

.wrapper h2{
    font-size: 36px;
    font-weight: 700;
}
.wrapper p{
    font-size: 16px;
    font-weight: 600;
}
.quizContainer{
    text-align: left;
}
.quizContainer h3{
    margin: 10px;
    font-size: 30px;
    font-weight: 700;
}
.quizContainer ol, .finalPage ol{
    padding-left: 0;
    list-style: none;
}
.reponse{
    text-align: left;
    font-size: 25px;
    padding: 10px;
    /* border-top: 2px solid gray;
    display: none; */
}
.finishSection, .finalPage {
    margin: 0 auto;
    width: 700px;
    visibility: hidden;
}
.finishSection h3{
    font-size: 25px;
    font-weight: 700;
}
.finishSection p{
    font-size: 14px;
    font-weight: 600;
}
.form-group{
    margin: 0 10px;
    margin-top: -8px;
    margin-left: 0;
}
.finalPage li{
    width: 100%;
    background: #cccccc;
    padding: 5px;;
    margin-bottom: 5px;
}
.myBtn {
    color: white;
    background: darkmagenta;
    padding: 10px;
    margin: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: cornsilk;
    border-image: initial;
    border-radius: 5px;
}
button {
    background: darkmagenta !important;
    border-color: darkmagenta !important;
}
.questionBtn {
    background: darkmagenta;
    padding: 10px;
    margin: 10px;
    width: 30%;
    border: 1px solid cornsilk;
    border-radius: 5px;
    color: white;
    font-size: 1.em;
    text-align: left;
    /* cursor: pointer; */
}
.finalPage .paddingLeft {
    padding-left: 0;
}